@PANEL_BACKGROUND_COLOR: #1e87f0;
@PANEL_COLOR: white;

@SEARCHBOX_PANEL_COLOR: #0f6ecd;
@SEARCHBOX_BUTTON_COLOR: #0f6ecd;
@SEARCHBOX_BUTTON_HOVER_COLOR: @PANEL_BACKGROUND_COLOR;

@NAVBAR_BUTTON_COLOR: transparent;
@NAVBAR_BUTTON_ACTIVE_COLOR: @NAVBAR_BUTTON_COLOR;
@NAVBAR_BUTTON_HOOVER_COLOR: #0f6ecd;
