@import './screen-sizes.less';

html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

@import './colors.less';

.App-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 55px 1fr 30px;
  grid-template-areas: 
    "toolbar"
    "content"
    "footer";
}

header {
  grid-area: toolbar;
  color: @PANEL_COLOR;
  background-color: @PANEL_BACKGROUND_COLOR;
}

main {
  grid-area: content;
  overflow-y: hidden;
}

footer {
  grid-area: footer;
}
