@import './../../../../styles/colors.less';

.PageContent-container {
  overflow-y: auto;
  height: calc(~"100vh - 85px");
}

.PageContent-body {
  height: calc(~"100% - 55px");
  & > div {
    margin: 0 10px;
  }
}
