@import './../../../styles/colors.less';
@import './../../../styles/screen-sizes.less';

.HomePage-header {
  display: grid;

  grid-template-columns: 40px 40px 1fr 100px;

  @media (min-width: @TABLET_LANDSCAPE_WIDTH) {
    padding-left: 10px;
    grid-template-columns: 40px 1fr 100px;
  }

  grid-column-gap: 10px;
  align-items: center;
}

.HomePage-leftNavbar {
  @media (min-width: @TABLET_LANDSCAPE_WIDTH) {
    display: none;
  }
}

.HomePage-rightNavbar {
  display: flex;
}

.HomePage-container {
  display: flex;
  height: 100%;
}

.HomePage-sidebarContainer {
  width: 250px;
  position: absolute;
  height: calc(~"100vh - 85px");
  background-color: @CONTENT_BACKGROUND_COLOR;
  border-right: 1px solid @BORDER_COLOR;

  left: -250px;
  transition: left 0.5s ease-in-out;

  &.is-shown {
    transition: left 0.5s ease-in-out;
    left: 0;
  }

  @media only screen and (min-width: @TABLET_LANDSCAPE_WIDTH) {
    position: inherit;;
    height: unset;
  }
}

.HomePage-contentContainer {
  flex: 1;
}
